<!DOCTYPE html>
<html>
<head>
    <title>Is it snowing in <%= STATE %>?</title>
</head>
<body>
  <h1>Is it snowing in Rhode Island?</h1>
  <div class="row">
    <div class=".col-xs-6"><img src="images/lighthouse.png"></div>
    <div class=".col-xs-6 snow-status"><%= @weather.snowing? %></div>
  </div>
  <!-- <p><img src="images/lighthouse.png"><span class="snow-status"><%= @weather.snowing? %></span></p> -->
<!--   <h2><%= @weather.snowing? %></h2> -->
  <p class="updated">Updated <%= @weather.last_updated %> ago</p>
  <p>made by <a href="https://twitter.com/invisiblefunnel">danny</a> & brought to you by <a href="http://codeisland.tumblr.com/" target="_blank">Code for America: Code Island</a></p>
  <p><a href="https://github.com/invisiblefunnel/is-it-snowing"><img src="GitHub-Mark-32px.png"></a></p>
  <pre style="display:none;"><%= JSON.pretty_generate @weather.response %></pre>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '<%= ENV['GAUGES'] %>');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
