<!DOCTYPE html>
<html>
<head>
    <title>Is it snowing in <%= CITY %>, <%= STATE %>?</title>
    <style type="text/css">
    body{
      background-color: #fff;
      font-family: "Helvetica";
    }
    </style>
</head>
<body>
  <h1>Is it snowing in <%= CITY %>, <%= STATE %>?</h1>
  <h2><%= @weather.snowing? ? "Yep" : "Nope" %></h2>
  <img src="<%= @weather.icon_url %>"/>
  <p>Updated <%= @weather.last_updated %> ago</p>
  <pre style="display:none;"><%= JSON.pretty_generate @weather.response %></pre>
</body>
</html>
