<!DOCTYPE html>
<html>
<head>
    <title>Is it snowing in <%= CITY %>, <%= STATE %>?</title>
    <style type="text/css">
    body{
      background-color: #fff;
      font-family: "Helvetica";
    }
    </style>
</head>
<body>
  <h1>Is it snowing in <%= CITY %>, <%= STATE %>?</h1>
  <h2><%= @weather.snowing? %></h2>
  <img src="<%= @weather.icon_url %>"/>
  <p>Updated <%= @weather.last_updated %> ago</p>
  <p><a href="https://github.com/invisiblefunnel/is-it-snowing"><img src="GitHub-Mark-32px.png"></a>made by <a href="https://twitter.com/invisiblefunnel">danny</a></p>
  <pre style="display:none;"><%= JSON.pretty_generate @weather.response %></pre>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '<%= ENV['GAUGES'] %>');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
